@font-face {
    font-family: "Big-Shoulder";
    src: url(../fonts/Big-Shoulder/BigShouldersDisplay-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: "LexendDeca";
    src: url(../fonts/LexendDeca/LexendDeca-Regular.ttf);
    font-weight: 400;
}